$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 50px;
  width: 100%;
  height:100%;
  position: absolute;
}

.topbar {
  margin-bottom: 0px;
}

.stage {

}

.menu-container {
  width: 15%;
  float: left;
}

.content-container {
  float: left;
  width: 85%
}

.page-nav {
  position: absolute;
  bottom:0px;
}